{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-contact" class="page page-contact is-hidden">{% endif %}
        {% include 'components/letter-o.twig' %}
        <div class="page--content page--content--center ui-content">
            <div class="vertical-center">
                <div class="vertical-el">
                    <div class="device-content">
                        <h1 class="ui-split" data-split="lines, chars">Feel free to contact<br>us if you have any questions.</h1>
                        <div class="row">
                            <div class="column col-6 ui-stagger">
                                <span>Executive Producer :</span>
                                <span>Jerad Anderson - <a href="">jerad@whitelistcontent.com</a> - 310.717.6353</span>
                            </div>
                            <div class="column col-6 ui-stagger">
                                <span>Mid :</span>
                                <span>Nikki Weiss-Goldstein - <a href="">nikki@nikkiweissandco.com</a> - 323.651.1414</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column col-6 ui-stagger">
                                <span>West :</span>
                                <span>Holly Ross - <a href="">holly@redrep.tv</a> - 310.253.3000</span>
                                <span>Jeremy Hodges - <a href="">jeremy@redrep.tv</a> - 310.253.3000</span>
                            </div>
                            <div class="column col-6 ui-stagger">
                                <span>East :</span>
                                <span>Jared Shapiro - <a href="">jared@moustachenyc.com</a> - 646.723.1406</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/socials.twig' %}
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}