.work-single {
    // display: block;
    // position: relative;

    &.afk {
        .info-nav {
            opacity: 0;
            pointer-events: none;
        }
    }

    .work-video {
        .absolute();
        .size(100%,100%);
        overflow: hidden;
        transform: scale3d(.8,.8,.8);
        opacity: 0;

        &:after {
            content: '';
            .absolute();
            z-index: 2;
        }
    }
    
    .work-title {
        .absolute();
        // margin: 0 0 @70px @50px;
        background: rgba(0,0,0,.8);
        .hidden();
        
        h1 {
            display: block;
            font: @bold @16px @font;
            color: white;
            text-align: center;

            > div {
                display: block;
                overflow: hidden;
            }
        }
    }
    
    iframe {
        display: block;
        position: absolute; top: 50%;
        width: 100vw;
        min-height: 150vh;
        height: auto;
        transform: translate3d(0,-50%,0);
        z-index: 20;
        
        @media @mobile {
            min-height: 55%;
        }

        @media @tablet {
            min-height: 55%;
        }
    }
    
    nav {
        transition: opacity 1s @easeOutExpo;
    }

    .close-text {
        .absolute();
        font: @14px @font;
        color: white;
        .hidden();
    }
    
    .work-infos {
        .absolute();
        background: rgba(0,0,0,.8);
        color: white;
        .hidden();

        .content {
            padding-top: 50vh;
            padding-bottom: @120px;
        }

        .client {
            display: block;
            font: @regular @16px/1.3 @font;
        }

        h1 {
            display: block;
            font: @regular @35px/1.3 @font;
            margin-bottom: @70px;
        }

        p {

        }

        a {
            color: white;
            line-height: 1;
        }
    }
}