.page-works {
    perspective: 1200;
    overflow: hidden;
    .hidden();

    &:before {
        content: '';
        .fixed();
        background: white;
        transform: translate3d(0,100%,0);
        transition: transform 1.3s @easeOutExpo .5s;

        .is-work & {
            transform: none;
        }
    }
    
    .all-projects {
        position: fixed; top: 0; left: 0;
        font-size: @14px;
        margin: @70px 0 0 @140px;
        z-index: 11;
        cursor: pointer;
        overflow: hidden;
        .hidden();

        @media @mobile {
            margin: @45px 0 0 @40px;
        }

        span {
            display: block;
            transition: transform .8s @easeOutExpo;

            &:before {
                background: black;
            }

            &:last-of-type {
                position: absolute;
                top: 100%;
            }
        }

        .has-all-open & {
            color: white;

            span {
                transform: translate3d(0,-100%,0);

                &:before {
                    background: white;
                }
            }
        }
    }

    .letters--mask {
        left: -10px;
        background: none;
        mix-blend-mode: screen;
    }

    .work-all {
        .absolute();
        .size(100%,100%);
        background: black;
        transition: color .8s @easeOutExpo;
        .hidden();
        z-index: 10;

        .section {
            position: absolute; top: 0; left: 0; right: 0;
            .size(100%,auto);
            padding: 10rem 0 10rem;
            overflow: hidden;
            z-index: 5;
        }

        .has-all-open & {
            color: white;
        }

        .round--letters {
            background: black;

            .round--letter {
                fill: white;
            }
        }

        .letters--mask {
            // top: -240px;
            background: url('../assets/images/gradient-2.jpg') left/cover no-repeat;
            mix-blend-mode: darken;
        }

        .device-content {
            z-index: 2;
        }

        ul {
            color: white;

            li {
                position: relative;
                font-size: @20px;
                margin-bottom: @35px;
                overflow: hidden;
                perspective: 600;

                small {
                    position: absolute;
                    font-size: @14px;
                    margin: 3px 0 0 -45px;
                    z-index: 2;
                    .hidden();
                }

                iframe,
                div {
                    position: absolute;
                    top: 50%; left: 0;
                    margin: 0 0 0 -345px;
                    min-width: 320px;
                    min-height: 175px;
                    border: 0;
                    background-size: cover;
                    background-position: center center;
                    transform: translate3d(0,-50%,0);
                }

                a {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    color: white;
                    transform: translate3d(0,100%,0);
                    .hidden();

                    &:before {
                        content: '';
                        position: absolute; bottom: 1px; left: 0;
                        .size(100%,1px);
                        background: white;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .9s @easeOutExpo;
                    }
                    
                    &:hover {
                        &:before {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
    }
    
    .work-content {
        position: absolute;
        .size(100%,100%);
        z-index: 2;
        transform-origin: center center;
    }
    
    .work-list {
        position: absolute;
        top: 45vh; left: 50%;
        width: 55%;
        transform: translate3d(-50%,0,0);
        transform-origin: top center;

        @media @mobile {
            width: 100%;
        }
    }

    .work-scroll {
        display: block;
    }
    
    .work-item {
        position: relative;
        display: block;
        float: left;
        .size(50%,100%);
        margin-bottom: @30px;
        will-change: transform;
        // cursor: pointer;

        @media @mobile {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            float: none;
        }

        > span {
            display: block;
            font-size: @14px;
            font-weight: @regular;
            margin-bottom: 5px;
            height: 19px;
            overflow: hidden;
        }

        .intrinsic {
            display: block;
            background: white;
            padding-bottom: 65%;
            overflow: hidden;
            z-index: 2;

            > span {
                position: absolute; top: 50%; left: 50%;
                font-size: @30px;
                line-height: 1;
                font-weight: @regular;
                width: 100%;
                text-align: center;
                // text-decoration: underline;
                transform: translate3d(-50%,-50%,0) rotateZ(-90deg);
                pointer-events: none;
                overflow: hidden;
                z-index: 3;

                > div {
                    transform: translate3d(0,115%,0);
                    transition: transform .9s @easeOutExpo;
                }

                @media @mobile {
                    display: none;
                }
            }

            .el {
                background-position: center center;

                &:after {
                    content: '';
                    display: block;
                    .absolute();
                    .size(100%,100%);
                    background: #a1b6eb;
                    background: -webkit-linear-gradient(left, #a1b6eb, #9ad2d9);
                    background: -o-linear-gradient(right, #a1b6eb, #9ad2d9);
                    background: -moz-linear-gradient(right, #a1b6eb, #9ad2d9);
                    background: linear-gradient(to right, #a1b6eb, #9ad2d9);
                    mix-blend-mode: screen;
                    z-index: 2;
                    transition: opacity 2.5s @easeOutExpo;
                }
            }

            &.in-viewport {
                transform: none;
                transition: transform 1.5s @easeOutExpo;

                &:nth-child(even) {
                    transition-delay: .05s;
                }

                &:nth-child(odd) {
                    transition-delay: .1s;
                }

                .el:after {
                    opacity: 0;
                }
            }
        }

        &:nth-child(even) {
            padding-left: @15px;

            @media @mobile {
                padding-left: 0;
            }
            
            .intrinsic {
                &.top {
                    transform: scale(1.03) rotateZ(-3deg) translate3d(10%,-10%,0);

                    @media @mobile {
                        transform: translate3d(0,-10%,0);
                    }
                }

                &.bottom {
                    transform: scale(1.05) rotateZ(-3deg) translate3d(10%,30%,0);

                    @media @mobile {
                        transform: translate3d(0,15%,0);
                    }
                }
            }
        }

        &:nth-child(odd) {
            padding-right: @15px;

            @media @mobile {
                padding-right: 0;
            }

            .intrinsic {
                &.top {
                    transform: scale(1.03) rotateZ(3deg) translate3d(-10%,-10%,0);

                    @media @mobile {
                        transform: translate3d(0,-10%,0);
                    }
                }

                &.bottom {
                    transform: scale(1.05) rotateZ(4deg) translate3d(-10%,30%,0);
                    
                    @media @mobile {
                        transform: translate3d(0,15%,0);
                    }
                }
            }
        }
    }
    
    &.has-hover {
        .work-item {
            &:hover {
                .intrinsic .el:after {
                    opacity: 1;
                }
                span:last-of-type {
                    > div {
                        transform: none;
                    }
                }
            }
        }
    }
}