.page-work {
    perspective: 1200;
    overflow: hidden;
    .hidden();

    &:before {
        content: '';
        .fixed();
        background: white;
        transform: translate3d(0,100%,0);
        transition: transform 1.3s @easeOutExpo .5s;

        .is-work & {
            transform: none;
        }
    }
    
    .all-projects {
        position: fixed; top: 0; left: 0;
        font-size: @14px;
        margin: @70px 0 0 @140px;
        z-index: 11;
        cursor: pointer;
        overflow: hidden;
        .hidden();
        
        @media @mobile {
            margin: @45px 0 0 @40px;
        }

        span {
            display: block;
            transition: transform .8s @easeOutExpo;

            &:before {
                background: black;
            }

            &:last-of-type {
                position: absolute;
                top: 100%;
            }
        }

        .has-all-open & {
            color: white;

            span {
                transform: translate3d(0,-100%,0);

                &:before {
                    background: white;
                }
            }
        }
    }

    .letters--mask {
        left: -10px;
        background: none;
        mix-blend-mode: screen;
    }

    .work-all {
        .absolute();
        .size(100%,100%);
        background: black;
        transition: color .8s @easeOutExpo;
        .hidden();
        z-index: 10;

        .section {
            position: absolute; top: 0; left: 0; right: 0;
            .size(100%,auto);
            padding: 10rem 0 10rem;
            overflow: hidden;
            z-index: 5;
        }

        .has-all-open & {
            color: white;
        }

        .round--letters {
            background: black;

            .round--letter {
                fill: white;
            }
        }

        .letters--mask {
            background: url('../assets/images/gradient-2.jpg') left/cover no-repeat;
            mix-blend-mode: darken;
        }

        .device-content {
            z-index: 2;
        }
        
        ul {
            color: white;

            li {
                position: relative;
                font-size: @20px;
                margin-bottom: @35px;
                overflow: hidden;
                white-space: nowrap;
                perspective: 600;

                small {
                    position: absolute;
                    width: 100px; text-align: right;
                    font-size: @14px;
                    margin: 3px 0 0 -115px;
                    z-index: 2;
                    .hidden();
                }

                iframe,
                div {
                    position: absolute;
                    top: 50%; left: 0;
                    margin: 0 0 0 -345px;
                    min-width: 320px;
                    min-height: 175px;
                    border: 0;
                    background-size: cover;
                    background-position: center center;
                    transform: translate3d(0,-50%,0);
                }

                a {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    color: white;
                    transform: translate3d(0,100%,0);
                    .hidden();

                    &:before {
                        content: '';
                        position: absolute; bottom: 1px; left: 0;
                        .size(100%,1px);
                        background: white;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .9s @easeOutExpo;
                    }
                    
                    &:hover {
                        &:before {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
    }
    
    .work-content {
        position: absolute;
        .size(100%,100%);
        z-index: 5;
        transform-origin: center center;
    }
    
    .work-list {
        .absolute();
        padding-top: 45vh;
        max-width: 60%;
        transform-origin: top center;

        @media @mobile {
            width: 100%;
            max-width: 100%;
            padding-top: 35vh;
        }
    }

    .work-scroll {
        display: block;
    }
    
    .work-item {
        position: relative;
        display: block;
        float: left;
        .size(50%,100%);
        margin-bottom: @30px;
        // will-change: transform;
        // cursor: pointer;

        @media @mobile {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            float: none;
        }

        .intrinsic {
            display: block;
            background: white;
            padding-bottom: 65%;
            overflow: hidden;
            z-index: 2;

            > span {
                position: absolute; top: 50%; left: 50%;
                font-size: @20px;
                color: white;
                line-height: 1.5;
                font-weight: @regular;
                width: 80%;
                text-align: center;
                transform: translate3d(-50%,-50%,0);
                pointer-events: none;
                overflow: hidden;
                z-index: 3;

                > div > div {
                    transform: translate3d(0,115%,0);
                    transition: transform .9s @easeOutExpo;
                    
                    &:nth-child(1) {
                        transition-delay: .0s;
                        transition-duration: .78s;
                    }
                    &:nth-child(2) {
                        transition-delay: .04s;
                        transition-duration: .76s;
                    }
                    &:nth-child(3) {
                        transition-delay: .08s;
                        transition-duration: .74s;
                    }
                    &:nth-child(4) {
                        transition-delay: .12s;
                        transition-duration: .72s;
                    }
                    &:nth-child(5) {
                        transition-delay: .16s;
                        transition-duration: .7s;
                    }
                    &:nth-child(6) {
                        transition-delay: .2s;
                        transition-duration: .68s;
                    }
                    &:nth-child(7) {
                        transition-delay: .24s;
                        transition-duration: .66s;
                    }
                    &:nth-child(8) {
                        transition-delay: .28s;
                        transition-duration: .64s;
                    }
                    &:nth-child(9) {
                        transition-delay: .32s;
                        transition-duration: .62s;
                    }
                    &:nth-child(10) {
                        transition-delay: .36s;
                        transition-duration: .6s;
                    }
                    &:nth-child(11) {
                        transition-delay: .4s;
                        transition-duration: .58s;
                    }
                    &:nth-child(12) {
                        transition-delay: .44s;
                        transition-duration: .56s;
                    }
                    &:nth-child(13) {
                        transition-delay: .48s;
                        transition-duration: .54s;
                    }
                    &:nth-child(14) {
                        transition-delay: .52s;
                        transition-duration: .52s;
                    }
                    &:nth-child(15) {
                        transition-delay: .56s;
                        transition-duration: .5s;
                    }
                }

                @media @mobile {
                    display: none;
                }
            }

            .el {
                background-position: center center;
                transform: scale3d(1.2,1.2,1.2);
                transition: transform 5s ease-out;

                &:after {
                    content: '';
                    display: block;
                    .absolute();
                    .size(100%,100%);
                    background: rgba(0,0,0,.8);
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 2.5s @easeOutExpo;
                }
            }
        }

        &.in-viewport {
            &:nth-child(even) {
                .intrinsic {
                    transition-delay: .05s;
                }
            }

            &:nth-child(odd) {
                .intrinsic {
                    transition-delay: .1s;
                }
            }

            .intrinsic {
                transform: none;
                transition: transform .8s @easeOutExpo;

                .el:after {
                    // opacity: 0;
                }
            }
        }

        &:nth-child(even) {
            padding-left: @15px;

            @media @mobile {
                padding-left: 0;
            }
            
            &.top {
                .intrinsic {
                    transform: scale(1.02) rotateZ(2deg) translate3d(5%,-5%,0);

                    @media @mobile {
                        transform: translate3d(0,-10%,0);
                    }
                }
            }

            &.bottom {
                .intrinsic {
                    transform: scale(1.02) rotateZ(-2deg) translate3d(5%,15%,0);

                    @media @mobile {
                        transform: translate3d(0,15%,0);
                    }
                }
            }
        
        }

        &:nth-child(odd) {
            padding-right: @15px;

            @media @mobile {
                padding-right: 0;
            }

            &.top {
                .intrinsic {
                   transform: scale(1.02) rotateZ(-2deg) translate3d(-5%,-5%,0);

                    @media @mobile {
                        transform: translate3d(0,-10%,0);
                    } 
                }
            }

            &.bottom {
                .intrinsic {
                    transform: scale(1.02) rotateZ(2deg) translate3d(-5%,15%,0);
                    
                    @media @mobile {
                        transform: translate3d(0,15%,0);
                    }
                }
            }
        }
    }
    
    .is-desktop &.has-hover {
        .work-item {
            &:hover {
                .intrinsic .el {
                    transform: none;

                    &:after {
                        opacity: 1;
                    }
                }
                span {
                    > div > div {
                        transform: none;
                    }
                }
            }
        }
    }
}