<div class="round--letters ui-letters">
    <svg class="round--letter letter--left ui-letter" viewBox="0 0 1098.6 609.6">
        <defs>
            <linearGradient id="gradient">
                <stop offset="5%" stop-color="#a1b5ec"/>
                <stop offset="95%" stop-color="#99d2d9"/>
            </linearGradient>
        </defs>
        <use fill="url(#gradient)" xlink:href="#o"></use>
    </svg>
    <div class="letters--mask ui-mask"></div>
</div>