<div class="round--letters ui-letters">
    <svg class="round--letter letter--left ui-letter" viewBox="0 0 1098.6 609.6">
        <use xlink:href="#o"></use>
    </svg>
    <div class="letters--mask ui-mask"></div>
</div>