{% extends "_base.twig" %}

{% block content %}
	{% if not isAJAX %}<section id="page-home" class="page page-home is-hidden">{% endif %}
    <div class="home--intro vertical-center ui-intro">
        <div class="vertical-el">
            <div class="logo ui-logo">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="logo--mask">
                <video src="" class="ui-video" loop webkit-playsinline></video>
            </div>
        </div>
    </div>
    <div class="page--container ui-container">
        <div class="page--clip ui-clip">
            <div class="default--letters ui-letters">
                <svg class="default--letter letter--left ui-letter" viewBox="0 0 596.8 900">
                    <polygon points="0,348.5 0,519 322.8,900 596.8,900 201.8,432.5 567.3,0 293.8,0 "/>
                </svg>
                <svg class="default--letter letter--right ui-letter" viewBox="0 0 579.5 710.1">
                    <path d="M579.5,26.1v185c-24.2-11.7-83.2-36-156.7-23.8c-46,7.6-78.6,26.4-92.2,35c-53.9,34.1-79.1,79.5-89.5,98.8c-31.1,57.8-33.1,110.4-33.8,134.5c-0.5,19-1.2,62.6,17.5,113.2c29.1,78.7,86.3,123.4,112.5,141.2h-272c0,0-95.5-146-55.5-342s162-281,236.5-321S468.7-24.4,579.5,26.1z"/>
                </svg>
                <div class="letters--mask ui-mask"></div>
            </div>
            <div class="logo">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="home--infos ui-infos">
            <h1>
                We are <strong>whitelist</strong>.<br>a video production studio.
                <span>From Los Angeles</span>
            </h1>
        </div>
        {% include 'components/socials.twig' %}
    </div>
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}