{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-works" class="page page-works is-hidden">{% endif %}
    {% include 'components/letter-o.twig' %}
    <span class="all-projects ui-bind">
        <span class="link">all projects</span>
        <span class="link">close</span>
    </span>
    <div class="work-content ui-layer">
        <div class="work-list ui-list">
            <div class="work-scroll ui-section">
                {% for item in work %}
                    <a href="/work/nike" class="work-item ui-stagger">
                        <span>Verizon</span>
                        <div class="intrinsic intrinsic--16-9 ui-viewport">
                            <div class="el" style="background-image: url('{{ site.theme.uri }}/assets/images/stack/project-1.jpg');"></div>
                        </div>
                        <span class="ui-split" data-split="chars">› View project</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="work-all ui-all">
        {% include 'components/letter-o.twig' %}
        <div class="section ui-scroll">
            <div class="device-content">
                <div class="row">
                    <div class="column col-6">&nbsp;</div>
                    <div class="column col-6">
                        <ul>
                            <li><small>New</small><a href="/work/nike" class="_" data-video="160619373">Nike ID</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Verizon</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Lego</a></li>
                            <li><small>New</small><a href="" class="_" data-video="160619373">Kara, Unofficial Star Wars shortfilm</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Olympus</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Google Glass</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Usher Video</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Whitelist</a></li>
                            <li><small>New</small><a href="" class="_" data-video="160619373">Beyoncé</a></li>
                            <li><small>New</small><a href="" class="_" data-video="160619373">Facebook</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Twitter Pro</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Love</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">New York State</a></li>
                            <li><a href="/work/nike" class="_" data-video="160619373">Samsung</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}